ansible
cryptography
ipdb
ipython
Jinja2
junos-eznc
lxml
napalm
ncclient
netaddr
netmiko
netutils
nornir
nornir-jinja2
nornir-netmiko
nornir-pyez
nornir-utils
nornir_napalm
ntc_templates
pydantic
PyYAML
requests
rich
scrapli
